@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h3> RESTAURANTS</h3>
    <hr />
    <div class="row">
        <div class="col">
            <img src="~/images/st4.jpg" class="tindahan" />
            <p style="text-align:center"> Tea Coffee &amp; Deli</p>
        </div>
        <div class="col">
            <img src="~/images/st4.jpg"  class="tindahan" />
            <p style="text-align:center"> Ailyn's</p>
        </div>
        <div class="col">
            <img src="~/images/st4.jpg"  class="tindahan"/>
            <p style="text-align:center"> Leone's</p>
        </div>
        <div class="col">
            <img src="~/images/st4.jpg"  class="tindahan" />
             <p style="text-align:center"> Master Silog</p>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <img src="~/images/st4.jpg" class="tindahan" />
             <p style="text-align:center"> Beanleaf</p>
        </div>
        <div class="col">
            <img src="~/images/st4.jpg"  class="tindahan" />
             <p style="text-align:center"> Tita Fe</p>
        </div>
        <div class="col">
            <img src="~/images/st4.jpg"  class="tindahan"/>
             <p style="text-align:center"> BGC</p>
        </div>
        <div class="col">
            <img src="~/images/st4.jpg"  class="tindahan" />
             <p style="text-align:center"> Luis </p>
        </div>
    </div>

    <h3 style="margin-top:50px"> FEATURED FOODS</h3>
    <div class="row">
        <div class="col">
            <img src="~/images/st4.jpg" class="tindahan" />
            <p style="text-align:center"> Ihawan </p>
        </div>
        <div class="col">
            <img src="~/images/st4.jpg"  class="tindahan" />
            <p style="text-align:center"> Ailyn's</p>
        </div>
        <div class="col">
            <img src="~/images/st4.jpg"  class="tindahan"/>
            <p style="text-align:center"> Leone's</p>
        </div>
        <div class="col">
            <img src="~/images/st4.jpg"  class="tindahan" />
             <p style="text-align:center"> Master Silog</p>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <img src="~/images/st4.jpg" class="tindahan" />
             <p style="text-align:center"> Beanleaf</p>
        </div>
        <div class="col">
            <img src="~/images/st4.jpg"  class="tindahan" />
             <p style="text-align:center"> Tita Fe</p>
        </div>
        <div class="col">
            <img src="~/images/st4.jpg"  class="tindahan"/>
             <p style="text-align:center"> BGC</p>
        </div>
        <div class="col">
            <img src="~/images/st4.jpg"  class="tindahan" />
             <p style="text-align:center"> Luis </p>
        </div>
    </div>

</div>